services:
  reer-proxy:
    image: sameersbn/squid:3.5.27-2
    container_name: reer-proxy
    restart: always

    # Проксируем порт Squid наружу
    ports:
      - "3128:3128"

    # Монтируем наш конфиг и кэш-директорию
    volumes:
      - ./squid.conf:/etc/squid/squid.conf:ro
      - ./cache:/var/spool/squid
